<main class="four-card-body">
    <div class="header_one" style="text-align: center;
     margin: 58px auto ;
max-width: 500px;">
        <h1 style="font-weight: 200;"> Reliable, efficient delivery</h1>
        <h1 style="font-weight: 600; margin-block-start: -1rem;">
            Powered by Technology
        </h1>
        <div class="headerTitle">
            <p >
                Our Artificial Intelligence powered tools use millions of project data points
                to ensure that your project is successful
            </p>
        </div>
    </div>


    <div class="container">
        <div class="box box-cyan box-push" id="1">
            <h2>Supervisors</h2 >
            <p> Monitors activity to identify project roadblocks
            </p>
            <img src="../assets/card_images/icon-supervisor.svg" alt="icon-supervisors">
        </div>
        <div class="box box-red" id="2">
            <h2> Team Builder</h2>
            <p> Scans our talent network to create the optimal team for your project
            <p>
                <img src="../assets/card_images/icon-team-builder.svg" alt="icon-team-builder">
        </div>
        <div class="box box-blue box-push " id="3">
            <h2>Calculator</h2>
            <p>
                Uses data from past projects to provide better delivery estimates
            </p>
            <img src="../assets/card_images/icon-calculator.svg" alt="icon-calculator">
            
        </div>
        <div class="box box-yellow"  id="4">
            <h2> Karma</h2>
            <p>
                Regularly evaluates our talent to ensure quality
            </p>
            <img src="../assets/card_images/icon-karma.svg" alt="icon-Karma">
            
        </div>
    </div>
</main>